*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F4F6F7;
}

.main {
    height: 100vh;
    width: 100%;
    padding: 30px;
    display: flex;
    justify-content: center;
    background-color: #F0F8FF;
}

/* Start Page */
#startPage{
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.title {
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    font-size: 28px;
    font-weight: bold;
    border-radius: 15px;
    background-color: #2C3E50;
    color: #fff;
}

.quizInfo {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 15px;
    gap: 20px;
}

.userName {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 8px;
    border-radius: 15px;
}
.userName p {
    font-size: 22px;
    color: #555555;
}
#nameInput{
    background-color: #FFFFFF;
    border-color: #BDC3C7;
    padding: 10px;
    border: 0;
    border-radius: 8px;
}

.aboutQuiz {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3px;
    background-color: #FFF8E7;
    border-radius: 15px;
}
.aboutQuiz p {
    width: 100%;
    font-size: 22px;
    font-weight: bold;
}
.quizInstructions {
    width: 100%;
    padding-left: 15px;
    color: #2C3E50;
}

#quizStartBtn {
    padding: 10px;
    font-size: 16px;
    border-radius: 15px;
    border: 0;
    cursor: pointer;
    background-color: #27AE60 ;
    color: white;
}
#quizStartBtn:hover {
    background-color: #298a53;
}

/* Quiz Page */
#quizPage{
    width: 100%;
    padding: 20px;
    display: none;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
}

#timer {
    font-size: 20px;
}

#quizQuestion {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 10px;
    border: 0;
    border-radius: 12px;
    background-color: #FFF8E7;
}

#question {
    width: 100%;
    padding: 5px;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    text-align: left;
}

#options {
    width: 100%;
    padding: 5px;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    text-align: left;
    gap: 8px;
}

.header, .footer {
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

#quizEndBtn , #skipBtn, #nextQuesBtn, #backBtn {
    padding: 12px 20px;
    font-size: 18px;
    border-radius: 20px;
    border: 0;
    cursor: pointer;
    color: white;
}

#quizEndBtn {
    background-color: red;
}
#quizEndBtn:hover {
    background-color: rgb(222, 35, 35);
}

#backBtn {
    background-color: gray;
}
#backBtn:hover {
    background-color: rgb(105, 102, 102);
}

#skipBtn {
    background-color: rgb(123, 190, 216);
}
#skipBtn:hover {
    background-color: rgb(93, 159, 185);
}

#nextQuesBtn {
    background-color: blue;
}
#nextQuesBtn:hover {
    background-color: rgb(16, 16, 208);
}

/* Score Page */
#scorePage {
    width: 100%;
    padding: 20px;
    display: none;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.result {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 15px;
    font-size: 20px;
}